{#
# Licensed under the GNU General Public License v. 3 (the "License")
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.gnu.org/licenses/gpl-3.0.html
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Copyright (C) 2022-2024 xqyjlj<xqyjlj@126.com>
#
# @author      xqyjlj
# @file        clock_tree_view.qss.j2
#
# Change Logs:
# Date           Author       Notes
# ------------   ----------   -----------------------------------------------
# 2024-10-27     xqyjlj       initial version
#
#}
/**
 * ****************************************************************************
 *  @author      xqyjlj
 *  @file        clock_tree_view.qss
 *  @brief
 *
 * ****************************************************************************
 *  @attention
 *  Licensed under the GNU General Public License v. 3 (the "License");
 *  You may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      https://www.gnu.org/licenses/gpl-3.0.html
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 *  Copyright (C) 2024-2024 xqyjlj<xqyjlj@126.com>
 *
 * ****************************************************************************
 *  Change Logs:
 *  Date           Author       Notes
 *  ------------   ----------   -----------------------------------------------
 *  2024-10-27     xqyjlj       initial version
 */

QLineEdit {
{% if isDarkMode %}
    color: white;
    background-color: rgba(255, 255, 255, 0.0605);
{% else %}
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
{% endif %}
    border: 1px solid {% if isDarkMode %}rgba(255, 255, 255, 0.5442){% else %}rgba(0, 0, 0, 13){% endif %};
    border-radius: 5px;
    font: {{ 12 * multiple }}px "Segoe UI", "Microsoft YaHei";
    padding: 0px 10px;
    selection-background-color: --ThemeColorLight1;
}
