# vscode
.vscode

# clion
.idea

# python
__pycache__

#project
csplink.config
repository
repository.index

# qt
*.qm

# other
*.bak
build
build-*

# csplink
resource/contributors
resource/repository

#Nuitka-Scons
*.dist
*.onefile-build
*.build
*.exe
