# vscode
.vscode

# clion, pycharm
.idea

# python
__pycache__

#project
csplink.config
repository
repository.index
*.log

# qt
*.qm

# other
*.bak
build
build-*

# csplink
resource/contributors
resource/repository
resource/packages
resource/database/schema/*.json

# nuitka-scons
*.dist
*.onefile-build
*.build
*.exe

# draw.io
*.bkp
*.drawio
