ComboBox {
  border: 1px solid rgba(255, 255, 255, 0.053);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 5px 31px 6px 11px;
  /* font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC'; */
  color: white;
  background-color: rgba(30, 30, 30, 1);
  text-align: left;
  outline: none;
}

ComboBox:hover {
  background-color: rgba(30, 30, 30, 1);
}

ComboBox:pressed {
  background-color: rgba(30, 30, 30, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.053);
  color: rgba(255, 255, 255, 0.63);
}

ComboBox:disabled {
  color: rgba(255, 255, 255, 0.3628);
  background-color: rgba(30, 30, 30, 1);
  border: 1px solid rgba(255, 255, 255, 0.053);
  border-top: 1px solid rgba(255, 255, 255, 0.053);
}

ComboBox[isPlaceholderText="true"] {
  color: rgba(255, 255, 255, 0.6063);
}
