flask~=3.1.1
gevent~=25.5.1
loguru~=0.7.3
jsonschema~=4.24.0
ruamel.yaml~=0.18.15
Nuitka~=2.7.12
requests~=2.32.3
tqdm~=4.67.1
flask-socketio~=5.5.1
cantools~=40.7.1
simpleeval~=1.0.3
isort~=7.0.0
black~=25.9.0
protobuf~=6.33.1
click~=8.2.1
