{#
 # Licensed under the Apache License v. 2 (the "License")
 # You may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0.html
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # Copyright (C) 2025-2025 xqyjlj<xqyjlj@126.com>
 #
 # @author      xqyjlj
 # @file        csp-file-base.xmake.lua.j2
 #
 # Change Logs:
 # Date           Author       Notes
 # ------------   ----------   -----------------------------------------------
 # 2025-05-15     xqyjlj       initial version
 # 2025-10-10     xqyjlj       add LuaFormatter support
 #}
{#- Macro to strip leading 'v' or 'V' from version string -#}
{%- macro strip_version_prefix(version) -%}
{%- if version.startswith('v') or version.startswith('V') -%}
{{ version[1:] }}
{%- else -%}
{{ version }}
{%- endif -%}
{%- endmacro -%}
--
-- -----------------------------------------------------------------------------
--  @author:            {{ CSP.author }}
--  @file:              {{ CSP.file }}
--  @brief:             {{ CSP.brief }}
--  @version:           {{ CSP.version }}
--  @hal:               {{ CSP.project.vendor }}.{{ CSP.project.gen.hal }}@{{ CSP.project.gen.halVersion }}
--  @project:           {{ CSP.project.name }}
--  @targetChip:        {{ CSP.project.targetChip }}
--  @time:              {{ CSP.time }}
--
-- -----------------------------------------------------------------------------
--  @attention
--
--  Copyright (C) {{ CSP.year }} csplink software.
--  All rights reserved.
--
-- -----------------------------------------------------------------------------
--
set_xmakever("{{ strip_version_prefix(CSP.project.gen.builderVersion) }}")

----< user code begin header, do not change this comment!
{{ CSP.user_code["header"] }}
----> user code end header, do not change this comment!

-------------------------------- project rules ---------------------------------
{%- set content %}
{%- block project_rules %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
-- LuaFormatter off
{{- content }}
-- LuaFormatter on
{%- endif %}
----< user code begin project rules, do not change this comment!
{{ CSP.user_code["project rules"] }}
----> user code end project rules, do not change this comment!

-------------------------------- project config --------------------------------
{%- set content %}
{%- block project_configs %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
-- LuaFormatter off
{{- content }}
-- LuaFormatter on
{%- endif %}
----< user code begin project configs, do not change this comment!
{{ CSP.user_code["project configs"] }}
----> user code end project configs, do not change this comment!

----------------------------------- includes -----------------------------------
{%- set content %}
{%- block includes %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
-- LuaFormatter off
{{- content }}
-- LuaFormatter on
{%- endif %}
----< user code begin includes, do not change this comment!
{{ CSP.user_code["includes"] }}
----> user code end includes, do not change this comment!

---------------------------------- toolchains ----------------------------------
{%- set content %}
{%- block toolchains %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
-- LuaFormatter off
{{- content }}
-- LuaFormatter on
{%- endif %}
----< user code begin toolchains, do not change this comment!
{{ CSP.user_code["toolchains"] }}
----> user code end toolchains, do not change this comment!

------------------------------------- flags ------------------------------------
{%- set content %}
{%- block flags %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
-- LuaFormatter off
{{- content }}
-- LuaFormatter on
{%- endif %}
----< user code begin flags, do not change this comment!
{{ CSP.user_code["flags"] }}
----> user code end flags, do not change this comment!

----< user code begin 0, do not change this comment!
{{ CSP.user_code["0"] }}
----> user code end 0, do not change this comment!

------------------------------------ target ------------------------------------
target("{{ CSP.project.name }}")
do
    set_kind("binary")
    ------------------------------ target configs ------------------------------
{%- set content %}
{%- block target_configs %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
    -- LuaFormatter off
{{- content }}
    -- LuaFormatter on
{%- endif %}
    ----< user code begin target configs, do not change this comment!
{{ CSP.user_code["target configs"] }}
    ----> user code end target configs, do not change this comment!

    ------------------------------- target files -------------------------------
{%- set content %}
{%- block target_files %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
    -- LuaFormatter off
{{- content }}
    -- LuaFormatter on
{%- endif %}
    ----< user code begin target files, do not change this comment!
{{ CSP.user_code["target files"] }}
    ----> user code end target files, do not change this comment!

    ------------------------------- target script ------------------------------
{%- set content %}
{%- block target_script %}
{%- endblock %}
{%- endset %}
{%- if content.strip() %}
    -- LuaFormatter off
{{- content }}
    -- LuaFormatter on
{%- endif %}
    ----< user code begin target script, do not change this comment!
{{ CSP.user_code["target script"] }}
    ----> user code end target script, do not change this comment!

    ----< user code begin 1, do not change this comment!
{{ CSP.user_code["1"] }}
    ----> user code end 1, do not change this comment!
end
target_end()

----< user code begin 2, do not change this comment!
{{ CSP.user_code["2"] }}
----> user code end 2, do not change this comment!
