<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .image-container {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>示例图文</h1>
    <div class="image-container">
        <img src="data:image/svg+xml;base64,{{ svg }}" width="635" />
    </div>
    <p>上图是一个简单的 SVG 图片，使用 Base64 内嵌。</p>
    <div>
        <table>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Functions</th>
                <th>Signal</th>
                <th>Level</th>
                <th>Mode</th>
                <th>Output</th>
                <th>Pull</th>
                <th>Speed</th>
                <th>Label</th>
            </tr>
            <tr>
                <td>数据 1</td>
                <td>数据 2</td>
                <td>数据 3</td>
                <td>数据 1</td>
                <td>数据 2</td>
                <td>数据 3</td>
                <td>数据 1</td>
                <td>数据 2</td>
                <td>数据 3</td>
                <td>数据 1</td>
            </tr>
            <tr>
                <td>数据 1</td>
                <td>数据 2</td>
                <td>数据 3</td>
                <td>数据 1</td>
                <td>数据 2</td>
                <td>数据 3</td>
                <td>数据 1</td>
                <td>数据 2</td>
                <td>数据 3</td>
                <td>数据 1</td>
            </tr>
        </table>
    </div>
</body>

</html>
