SettingInterface, #widget_scroll {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}

QLabel#label_setting {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}

